appdirs==1.4.3
asgiref==3.5.2
asn1crypto==0.24.0
attrs==21.4.0
Automat==20.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.11.1
black==22.3.0
blinker==1.4
bs4==0.0.1
charset-normalizer==2.1.1
colorama==0.4.3
cryptography==2.8
decorator==4.4.2
distlib==0.3.0
Django==4.1.2
django-countries==7.3.2
django-crispy-forms==1.14.0
django-debug-toolbar==3.4.0
django-extensions==3.2.1
django-filter==2.4.0
django-js-asset==2.0.0
django-mptt==0.13.4
django-versatileimagefield==2.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
drf-extra-fields==3.4.0
drf-flex-fields==0.9.8
gunicorn==20.1.0
httplib2==0.14.0
hyperlink==21.0.0
Jinja2==3.1.2
monotonic==1.5
more-itertools==4.2.0
mypy-extensions==0.4.3
oauth==1.0.1
oauthlib==3.1.0
olefile==0.46
paramiko==2.6.0
parso==0.7.1
pathspec==0.9.0
pdfkit==1.0.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
platformdirs==2.5.2
prompt-toolkit==3.0.8
psycopg2==2.9.5
pycrypto==2.6.1
Pygments==2.7.3
PyJWT==1.7.1
pyzmq==20.0.0
requests==2.28.1
requests-file==1.5.1
simplejson==3.16.0
six==1.14.0
sqlparse==0.4.3
system-service==0.3
systemd-python==234
toml==0.10.2
tomli==2.0.1
tornado==6.1
tqdm==4.55.1
typed-ast==1.5.4
typing_extensions==4.2.0
tzdata==2022.6
urllib3==1.26.12
Werkzeug==2.1.2
wheel==0.38.4
wrapt==1.14.1
