{% extends 'shop/main.html' %}
{% load humanize %}
{% block title %}Cart {{total_items|intcomma }}{% endblock %}
{% block content %}	

<main style="padding: 24px 0 30px 0;">
	<div class="container">

		<section class="hero">
			<div class="container">
			<div class="row">
				<div class="col text-center">
					<h1 class="h1 border-bottom">Your Cart</h1>
					<h4 class="h2 eyebrow">Items - {{total_items|intcomma}}</h4>
				</div>
			</div>
		</div>
	</section>
		
		
		<section class=" pt-3">
			<div class="container">
				{% if total_items > 0 %}
					<div class=" py-3">
						<div class="row mb-0 d-none d-lg-flex">
							<div class="col">
								<div class="row pr-6">
									<div class="col-lg-6"><span class="eyebrow">Product</span></div>
									<div class="col-lg-2 text-center"><span class="eyebrow">Price</span></div>
									<div class="col-lg-2 text-center"><span class="eyebrow">Quantity</span></div>
									<div class="col-lg-2 text-center"><span class="eyebrow">Total</span></div>
								</div>
							</div>
						</div>
						<div class="row">
								<div class="col cart-item-list cart-item-list-minimal">
									{% for item in cart_items %}
										<!-- cart item -->
										<div class="cart-item">
											<div class="row align-items-center">
												<div class="col-12 col-lg-6">
													<div class="media media-product">
														<a href="#!"><img src=static/images/{{item.product.image}} alt="Image"></a>
														<div class="media-body">
															<h5 class="media-title">{{ item.product.title }}</h5>
														</div>
													</div>
												</div>
												<div class="col-4 col-lg-2 text-center">
													<span class="cart-item-price">${{ item.product.price|floatformat:2|intcomma }}</span>
												</div>
												<div class="col-4 col-lg-2 text-center">
													<div class="counter">
														<span data-action="remove" data-product={{item.product.id}} class="counter-minus icon-minus update-cart" field="qty-1"></span>
														<input type="text" name="qty-1" class="counter-value " value='{{ item.quantity }}' min="1">
														<span data-action="add" data-product={{item.product.id}} class="counter-plus icon-plus update-cart" field="qty-1"></span>
													</div>
												</div>
												<div class="col-4 col-lg-2 text-center">
													<span class="cart-item-price">${{ item.get_total|floatformat:2|intcomma }}</span>
												</div>
												<span data-action="removeAll" data-product={{item.product.id}}  class="update-cart icon icon-remove cart-item-close"></span>
											</div>
										</div>
									{% endfor %}
								</div>
						</div>
					</div>
				{% else %}
				<h1 class=" py-3 pb-3">Empty</h1>
				{% endif %}
				<div class="row justify-content-between">
					<div class="col-md-6 col-lg-4 py-1">
						<div class="inline-block">
							<span class="eyebrow">Total</span>
							<h4 class="h2">${{total_price|floatformat:2|intcomma}}</h4>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 py-1" id="checkoutBtn">
						<a href="{% url 'carts:checkout' %}" class="btn btn-outline-dark my-2 my-sm-0 btn-block mt-1">Checkout</a>
					</div>
				</div>
			</div>
		</section>

		  
	</div>
</main>
<script>
	var itemTotal = {{ total_items }}
	var checkoutBtn = document.getElementById('checkoutBtn');

	function display_register() {
		if (itemTotal == 0) {
			checkoutBtn.remove()
		}
	}
	
	var disp = display_register();
</script>
{% endblock %}