{% extends 'shop/main.html' %}
{% load static %}
{% block title %}{{username}}{% endblock %}
{% block content %}	
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<section class="hero hero-small bg-blac text-white parallax" style="background-image: url({% static  customer.profile_pic.url %});background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
	<div class="container">
		<div class="row gutter-2 gutter-md-4 align-items-end">
			<div class="col-md-6 text-center text-md-left">
				<h1 class="mb-0 invert">{{username}}</h1>
				<span class="text-muted invert">{{customerForm.email.value}}</span>
			</div>
			<div class="col-md-6 text-center text-md-right">
				<!-- <a href="" class="btn btn-sm btn-outline-white invert">Change Picture</a> -->
				<!-- <input  type="file"> -->
				<form id="profilePicutureSetting" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<label class="btn btn-sm btn-outline-white invert">
						<i class="fa fa-image"></i> Change Photo
						{{ pictureForm.profile_pic }}
						<!-- <input type="file" style="display: none;" name="profile-image" type="file" id="profile-image" accept=".jpg,.jpeg,.png,.gif"> -->
					</label>

					<!-- {% csrf_token %} -->
					<!-- <input class="btn btn-sm btn-outline-white invert custom-file-input" name="profile-image" type="file" id="profile-image" accept=".jpg,.jpeg,.png,.gif"  value="Update-Photo"> -->
				</form>
			</div>
		</div>
	</div>
</section>


<div class=" my-10">
  <!-- listing -->
	<section class="pt-5">
		<div class="container">
			<div class="row gutter-4 justify-content-between">
				<!-- sidebar -->
				<aside class="col-lg-3">
					<div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
						<a class="nav-link dash active" data-toggle="tab" href="#sidebar-1-1" role="tab"  aria-controls="sidebar-1" aria-selected="true">Profile</a>
						<a class="nav-link dash" data-toggle="tab" href="#sidebar-1-2" role="tab" aria-controls="sidebar-1-2" aria-selected="false">Orders</a>
						<a class="nav-link dash" data-toggle="tab" href="#sidebar-1-3" role="tab" aria-controls="sidebar-1-3" aria-selected="false">Payments</a>
						<a class="nav-link dash" data-toggle="tab" href="#sidebar-1-4" role="tab" aria-controls="sidebar-1-4" aria-selected="false">Address</a>
						<a class="nav-link dash" data-toggle="tab" href="#sidebar-1-5" role="tab" aria-controls="sidebar-1-5" aria-selected="false">Watchlist</a>
						
						{% if request.user.is_vendor %}	
							<a class="nav-link dash eyebrow d-flex" style="border: 2px solid black;" href="{% url 'vendor' request.user %}" >
								<div class="action col-10 pl-0">Go To Shop</div>
								<span class="icon icon-store_mall_directory col-2 fs-20"></span>
							</a>
						{% endif %}
							
					</div>
				</aside>
				<!-- / sidebar -->

				<!-- content -->
				<div class="col-lg-9">
					<div class="row">
						<div class="col">
							<div class="tab-content" id="myTabContent">
								<!-- profile -->
								<div class="tab-pane fade show active" id="sidebar-1-1" role="tabpanel" aria-labelledby="sidebar-1-1">
									<form id="accountSetting" method="POST" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row mb-2">
											<div class="col-12">
												<h3>Personal Data</h3>
											</div>
										</div>
										<div class="row gutter-1">
											<div class="col-md-6">
											<div class="form-group">
												<label for="exampleInput1">First Name</label>
													{{customerForm.firstname}}
												{% comment %} <input id="exampleInput1" type="text" class="form-control" placeholder="First name"> {% endcomment %}
											</div>
											</div>
											<div class="col-md-6">
											<div class="form-group">
												<label for="exampleInput2">Last Name</label>
													{{customerForm.lastname}}
												{% comment %} <input id="exampleInput2" type="text" class="form-control" placeholder="Last name"> {% endcomment %}
											</div>
											</div>
											<div class="col-md-6">
											<div class="form-group">
												<label for="exampleInput3">Username</label>
													{{customerForm.username}}
												{% comment %} <input id="exampleInput3" type="text" class="form-control" placeholder="Email"> {% endcomment %}
											</div>
											</div>
											<div class="col-md-6">
											<div class="form-group">
												<label for="exampleInput-6">Gender</label>
												{{customerForm.gender}}

												{% comment %} <select id="exampleInput-6" class="custom-select custom-select-lg">
												<option selected="">Open this select menu</option>
												<option value="1">Male</option>
												<option value="2">Female</option>
												</select> {% endcomment %}
											</div>
											</div>
											<div class="col-md-6">
											<div class="form-group">
												<label for="exampleInput6">Telephone</label>
												{{customerForm.phone_number}}
												{% comment %} <input id="exampleInput6" type="text" class="form-control" placeholder="Telephone"> {% endcomment %}
											</div>
											</div>
											<div class="col-md-6">
											<div class="form-group">
												<label for="exampleInput7">Email</label>
												{{customerForm.email}}
												{% comment %} <input id="exampleInput7" type="text" class="form-control" placeholder="Email"> {% endcomment %}
											</div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<input type="hidden" name="form_type" value="accountSetting">
												<input class="btn btn-primary" type="submit" value="Save Changes" name="Update Information" style="box-shadow: none;box-shadow: none;width: 100%;padding: 11px 0 30px 0;" >
											</div>
										</div>
									</form>
									<form id="passwordChange" method="POST" enctype="multipart/form-data">
										<div class="row mb-2 mt-6">
											<div class="col-12">
												<h3>Password</h3>
											</div>
										</div>
										<div class="col-md-auto py-3">
											<h5>Try out the suggested Password.</h5>
											<div class="d-flex">
												<p class="my-auto" id="suggestedPassword"></p>
												<span id="copy" class="icon-content_copy my-auto px-2 popup">
													<span class="popuptext" id="myPopup">Text Copied!</span>
												</span>
											</div>
										</div>
										{% csrf_token %}
										{{passwordChangeForm.as_p}}
										<div class="row">
											<div class="col">
												<input type="hidden" name="form_type" value="passwordChange">
												<input class="btn btn-primary" type="submit" value="Change Password" name="Update Information" style="box-shadow: none;box-shadow: none;width: 100%;padding: 11px 0 30px 0;" >
											</div>
										</div>
									</form>
								</div>
								<!-- orders -->
								<div class="tab-pane fade" id="sidebar-1-2" role="tabpanel" aria-labelledby="sidebar-1-2">
									<div class="row">
										<div class="col-12">
											<h3 class="mb-0">Orders</h3>
											<span class="eyebrow">{{totalOrders}} Items</span>
										</div>
									</div>
									<div class="row gutter-2">
										{% for order in orders %}
											{% if order.order.quantity < 1 %}
											<div class="col-12" style="display: none;"></div>
											{% else %}
											<div class="col-12">
												<div class="order">
													<div class="row align-items-center">
														<div class="col-lg-4">
															{% if order.order.id %}
																<h3 class="order-number">Order {{order.order.id}}</h3>
																<a href="#!" class="action viewOrders eyebrow " dataID="order{{order.order.id}}" onclick="openCty('order{{order.order.id}}')">View Order</a>
															{% else %}
																<h3 class="order-number">Order (current)</h3>
																<a href="{% url 'cart' %}" class="action eyebrow ">View Order</a>
															{% endif %}
														</div>
														{% if order.order.is_ordered %}
														<div class="col-lg-4">
															<span class="order-status sent">Sent</span>
														</div>
														{% else %}
														<div class="col-lg-4">
															<span class="order-status canceled">Active</span>
														</div>
														{% endif %}
														<div class="col-lg-4">
															<ul class="order-preview justify-content-end">
																{% for image in order.order.orderItems %}
																	<li>
																		<a href={% url 'shop:product'  image.product.title %} title="Red Analog Magazine Rack" data-toggle="tooltip" data-placement="top">
																			<img src={% static  image.product.image.url %} alt="Red Analog Magazine Rack">
																		</a>
																	</li>
																{% endfor %}	
															</ul>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											<section id="order{{order.order.id}}" class="orderlist pt-3 col-12">
												<div class="col text-center">
													<h4 class="h2">Items - {{order.order.get_cart_items}}</h4>
												</div>
												<div class="container">
													<div class=" py-3">
														<div class="row mb-0 d-none d-lg-flex">
															<div class="col">
																<div class="row pr-6">
																	<div class="col-lg-6"><span class="eyebrow">Product</span></div>
																	<div class="col-lg-2 text-center"><span class="eyebrow">Price</span></div>
																	<div class="col-lg-2 text-center"><span class="eyebrow">Quantity</span></div>
																	<div class="col-lg-2 text-center"><span class="eyebrow">Total</span></div>
																</div>
															</div>
														</div>
															<div class="row">
																<div class="col cart-item-list cart-item-list-minimal">
																	{% for item in order.order.orderItems %}
																		<!-- cart item -->
																		<div class="cart-item">
																			<div class="row align-items-center">
																				<div class="col-12 col-lg-6">
																					<div class="media media-product">
																						<a href="#!"><img src={% static  item.product.image.url %} alt="Image"></a>
																						<div class="media-body">
																							<h5 class="media-title">{{ item.product.title }}</h5>
																						</div>
																					</div>
																				</div>
																				<div class="col-4 col-lg-2 text-center">
																					<span class="cart-item-price">${{ item.product.price }}</span>
																				</div>
																				<div class="col-4 col-lg-2 text-center">
																					<div class="counter py-1">
																						<h5>{{ item.quantity }}</h5>
																					</div>
																				</div>
																				<div class="col-4 col-lg-2 text-center">
																					<span class="cart-item-price">${{ item.get_total }}</span>
																				</div>
																			</div>
																		</div>
																	{% endfor %}
																</div>
															</div>
														</div>
														<div class="row justify-content-between">
															<div class="col-md-6 col-lg-4">
																<div class="inline-block">
																	<span class="eyebrow">Total</span>
																	<h4 class="h2">${{order.order.get_cart_total}}</h4>
																</div>
															</div>
														</div>
												</div>
											</section>
										{% endfor %}
									</div>
								</div>
								<div class="tab-pane fade" id="sidebar-1-3" role="tabpanel" aria-labelledby="sidebar-1-3">
									<form id="PaymentAdded" action="" method="POST" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row">
											<div class="col">
												<h3 class="mb-0">Payments</h3>
												<span class="eyebrow">{{totalPayments}} Entry</span>
											</div>
										</div>
										<div class="row gutter-2 mb-6">
											{% for payment in customerPayments %}

											<div class="col-md-6">

												<div class="card card-data">
													<div class="card-header card-header-options">
														<div class="row align-items-center">
															<div class="">
																<h3 class="card-title2">{{payment.card_number}}</h3>
															</div>
															{% if payment.active %}
																<div class="col-lg-4">
																	<span class="order-status sent">Active</span>
																</div>
															{% else %}
																<div class="col-lg-4">
																	<span class="order-status canceled">Deactived</span>
																</div>
															{% endif %}
															<div class="col text-right">
																<div class="dropdown">
																	<button id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-lg btn-secondary btn-ico"><i class="icon icon-more_vert"></i></button>
																	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
																		<li>
																		<a class="dropdown-item" href="#!">Edit</a>
																		</li>




																		<li>
																		<a class="dropdown-item" href="#!">Delete</a>
																		</li>
																		{% if payment.active %}
																		{% else %}
																			<li>
																				<!-- <a class="dropdown-item" href="#!">Active</a> -->
																				<form id="ActivatePayment" action="" method="POST" enctype="multipart/form-data">
																				{% csrf_token %}
																					<input type="hidden" name="form_type" value="ActivatePayment">
																					<input type="hidden" name="paymentId" value={{ payment.id }}>
																					<input class="dropdown-item" type="submit" value="Activate" name="Add Information" style="box-shadow: none;box-shadow: none;width: 100%;padding: 11px 0 30px 0;" />
																				</form>
																			</li>
																		{% endif %}
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="card-body w-75">
														<!-- <h5 class="eyebrow text-muted">Paymeny Method {{payment}}</h5> -->
														<p class="card-text"><b>{{payment.name_on_card}}</b> ends in {{payment.security_code}} Exp: {{payment.expiry_month}}/{{payment.expiry_year}}</p>
														<!-- <h5 class="eyebrow text-muted">Last Payment</h5>
														<p class="card-text"><b>$7.00</b> successful on 04/14/2019</p> -->
													</div>
												</div>

											</div>
											
											{% endfor %}
										</div>

										<div class="row">
											<div class="col">
												<h3 class="mb-0">New Payment Method</h3>
											</div>
										</div>
										<div class="row gutter-1">
										<div class="col-6">
											<div class="form-group">
												<label for="cardNumber">Card Number</label>
												<div class="d-flex">
													<i class="fa fa-key icon icon-credit-card credit-card pr-2"> </i>
													{{ShippingPaymentForm.card_number}}
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label for="cardNumber">CVV / Security Code</label>
												<div class="d-flex">
													{{ShippingPaymentForm.security_code}}
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
											<label for="cardNumber">Name on Card</label>
											{{ShippingPaymentForm.name_on_card}}
											
											</div>
										</div>
										<div class="col-6 col-md-3">
											<div class="form-group">
											<label for="cardNumber">Month</label>
											{{ShippingPaymentForm.expiry_month}}
			
											</div>
										</div>
										<div class="col-6 col-md-3">
											<div class="form-group">
											<label for="cardNumber">Year</label>
											{{ShippingPaymentForm.expiry_year}}
											</div>
										</div>
										<div class="col-12">
											<input type="hidden" name="form_type" value="PaymentAdded">
											<input class="btn btn-primary" type="submit" value="Add" name="Add Information" style="box-shadow: none;box-shadow: none;width: 100%;padding: 11px 0 30px 0;" />
										</div>

										</div>
									</form>
								</div>
								<div class="tab-pane fade" id="sidebar-1-4" role="tabpanel" aria-labelledby="sidebar-1-4">
									<div class="row">
									  <div class="col">
										<h3 class="mb-0">Addresses</h3>
										<span class="eyebrow">{{totalAddress}} Entry</span>
									  </div>
									</div>
									<div class="row gutter-2">
										{% for address in customerAddress %}
											<div class="col-md-6">
												<div class="card card-data">
													<div class="card-header card-header-options">
														<div class="row align-items-center">
															{% if address.active %}
																<div class="col-lg-4">
																	<span class="order-status sent">Active</span>
																</div>
															{% else %}
																<div class="col-lg-4">
																	<span class="order-status canceled">Deactived</span>
																</div>
															{% endif %}
															<div class="col text-right">
																<div class="dropdown">
																	<button id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-lg btn-secondary btn-ico"><i class="icon icon-more_vert"></i></button>
																	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																		<li>
																			<a class="dropdown-item" href="#!">Edit</a>
																		</li>
																		<li>
																			<a class="dropdown-item" href="#!">Delete</a>
																		</li>
																		{% if address.active %}
																		{% else %}
																			<li>
																				<!-- <a class="dropdown-item" href="#!">Active</a> -->
																				<form id="ActivateAddress" action="" method="POST" enctype="multipart/form-data">
																				{% csrf_token %}
																					<input type="hidden" name="form_type" value="ActivateAddress">
																					<input type="hidden" name="addressId" value={{ address.id }}>
																					<input class="dropdown-item" type="submit" value="Activate" name="Add Information" style="box-shadow: none;box-shadow: none;width: 100%;padding: 11px 0 30px 0;" />
																				</form>
																			</li>
																		{% endif %}
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="card-body w-75">
														<h5 class="eyebrow text-muted">Where</h5>
														<p class="card-text">
															{{ address.address }} {{ address.city }}, {{ address.state }} {{ address.zipcode }},{{ address.country }}
														</p>
														<h5 class="eyebrow text-muted">To</h5>
														<p class="card-text">{{ address.customer }}</p>
														<small>
														{{ address.date_added }}
														</small>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<form id="AddressAdded" method="POST" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row">
										  <div class="col">
											<h3>Create New Address</h3>
										  </div>
										</div>
										<div class="row gutter-1">
											<div class="col-12">
												<div class="form-group">
													<label for="cardNumber">Address</label>
													{{ShippingAddressForm.address}}
													<!-- <input id="city" type="text" class="form-control" placeholder=""> -->
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="city">City</label>
													{{ShippingAddressForm.city}}
												<!-- <input id="cardNumber" type="text" class="form-control" placeholder=""> -->
												</div>
											</div>
											<div class="col-6 col-md-3">
												<div class="form-group">
												<label for="cardNumber2">State</label>
												{{ShippingAddressForm.state}}
												<!-- <input id="cardNumber2" type="text" class="form-control" placeholder=""> -->
												</div>
											</div>
											<div class="col-6 col-md-3">
												<div class="form-group">
												<label for="cardNumber3">Zipcode</label>
												{{ShippingAddressForm.zipcode}}
												<!-- <input id="cardNumber3" type="text" class="form-control" placeholder=""> -->
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<label for="cardNumber">Country</label>
													{{ShippingAddressForm.country}}
													<!-- <input id="city" type="text" class="form-control" placeholder=""> -->
												</div>
											</div>
										</div>
										<div class="col-12">
											<input type="hidden" name="form_type" value="AddressAdded">
											<input class="btn btn-primary" type="submit" value="Add New Address" name="Update Information" style="box-shadow: none;box-shadow: none;width: 100%;padding: 11px 0 30px 0;" >
										</div>
									</form>
								</div>
								<div class="tab-pane fade" id="sidebar-1-5" role="tabpanel" aria-labelledby="sidebar-1-5">
									<div class="row">
									  <div class="col">
										<h3 class="mb-0">Watchlist</h3>
										<!-- <span class="eyebrow">{{totalAddress}} Entry</span> -->
									  </div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>				
				<!-- / content -->
			</div>
		</div>
	</section>
</div>

<script src="{% static '/js/profile.js' %}"></script>

<script type="text/javascript">
	
	



	$('form .autosubmit').on('change', function() {
		// e.preventDefault();
		var form = $("#profilePicutureSetting")[0];
		var form_data = new FormData(form);
		// Appending the attached file to the form_data to access it from the server side
		form_data.append('new_avatar', $("#id_profile_pic")[0].files[0]);
		form_data.append('form_type', "profilePicutureSetting");
		console.log(form)
		console.log($("#profilePicutureSetting"))
		$.ajax({
			type: 'POST',
			url: "{% url 'accounts:customer' request.user %}",
			data: form_data,
			cache: false,
			processData: false,
			contentType: false,

			success: function (data){
				console.log('Success');
			},

			error: function (){
			console.log('Error');
			}
		});

	})
</script>
{% endblock %}