{% extends 'shop/main.html' %}

{% block content %}	
	<div class="products">

		{% for product in products %}
			<div class="product-card card" >
			<img class="card-img-top" src=static{{product.image.url}} alt="Card image cap">
			<div class="card-body">
				<a href="{% url 'product' user %}" class="">
					<h5 class="card-title py-2 my-2">
							{{ product.title }}
						</h5>
					</a>	
				</a>	
					</a>	
					<div class=" py-2">
						<a href="#" class="add underline"><span class="icon icon-add_shopping_cart"></span></a>
						<p class="card-text pr-1">${{ product.price }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		
		
	</div>
{% endblock %}