{% extends 'shop/main.html' %}

{% block content %}	
	<div class="products">
		<div class="product-card card" >
			<img class="card-img-top" src="images/shoe_3.jpg" alt="Card image cap">
			<div class="card-body">
				<a href="#shoes" class="">
					<h5 class="card-title py-2 my-2">
						Brown Nike Shoes
					</h5>
				</a>	
				<div class=" d-flex py-2">
					<p class="card-text pr-1">$300</p>
					<a href="#" class="add underline">Add To Cart</a>
				</div>
			</div>
		</div>
		<div class="product-card card" >
			<img class="card-img-top" src="images/shoe_3.jpg" alt="Card image cap">
			<div class="card-body">
				<a href="#shoes" class="">
					<h5 class="card-title py-2 my-2">
						Brown Nike Shoes
					</h5>
				</a>	
				<div class=" d-flex py-2">
					<p class="card-text pr-1">$300</p>
					<a href="#" class="add underline">Add To Cart</a>
				</div>
			</div>
		</div>
		<div class="product-card card" >
			<img class="card-img-top" src="images/shoe_3.jpg" alt="Card image cap">
			<div class="card-body">
				<a href="#shoes" class="">
					<h5 class="card-title py-2 my-2">
						Brown Nike Shoes
					</h5>
				</a>	
				<div class=" d-flex py-2">
					<p class="card-text pr-1">$300</p>
					<a href="#" class="add underline">Add To Cart</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}