{% extends 'shop/main.html' %}
{% load static %}

{% block content %}	

	<div class="products">

		{% for product in productsdict %}
			<div class="product-card card" >
				<img class="card-img-top" src=static{{product.image}} alt={{product.image}}>
				<div class="d-flex border">
					<div class="px-1 small col text-left border-right" style="padding: 5px 0;">
						<a href="{% url 'product' product.link %}" class="">
							<h5 class="fs-16">{{ product.title }}</h5>		
							<p class="card-text m-0 ">{{ product.price }}</p>
						</a>
					</div>
					<div href="#" data-product={{product.id}} data-action="add" class="add underline update-cart col-3 mx-auto d-flex justify-content-center">
						<span class="icon icon-add_shopping_cart"></span>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}